<form method="post" action="Create">
    <table>
        <tr>
            <th>Name</th>
            <th>Description</th>
        </tr>
        <tr>

            <td><input type="text" name="Name" id="Name" /></td>
            <td><input type="text" name="Description" id="Description" /></td>
            <td><input type="submit" class="btn btn-secondary" /></td>
        </tr>
    </table>
</form>